<div class="columns">
  <div class="column">
    <div class="column-content">
      <div class="data-group">
        <div class="data data-age">
          <label>Age :</label>
          <input name="system.age" type="number" value="{{actor.system.age}}" />
        </div>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="column-content">
      Biography
    </div>
  </div>
</div>