@import url(pokerole+trainerSheet.css);

@font-face {
  font-family: "PokerolePlus-Square";
  src: url("../assets/fonts/Oxanium-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "PokerolePlus-Round";
  src: url("../assets/fonts/Outfit-VariableFont_wght.ttf") format("truetype");
}

.pokerole-plus {
  /* COLORS */
  --red: #de4a2c;
  --dark-red: #ab4128;
  --black: rgb(59 49 32);
  --blue-green: rgb(0 168 161);

  /* STYLES */
  --header-background-color: var(--red);
  --header-border-color: var(--dark-red);
  --header-text-color: white;

  --heading-text-color: var(--black);

  --data-background-color: white;
  --data-text-color: var(--black);
  --data-border-color: var(--black);

  --attribute-default-background-color: var(--blue-green);
  --attribute-input-background-color: white;
  --attribute-input-selected-background-color: var(--black);

  /* SIZES */
  --big-radius: 16px;
  --small-radius: 12px;
  --big-spacing: 16px;
  --small-spacing: 8px;

  /* UTILS */
  --padding-ratio: 0.4;

  .columns {
    display: flex;
  }

  .icon-pokeball {
    display: inline-block;
    background: url("../assets/pokeball.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 1.15em;
    margin: -0.075em 0;
    line-height: 1;
    width: auto;
  }

  .tab-links {
    display: flex;
    flex-direction: row;
    gap: 3px;

    .tab-link {
      flex: 1;
      display: flex;
      flex-direction: column;
      background: rgb(207 205 199);
      font-family: PokerolePlus-Round;
      text-align: center;
      padding: 3px;
      border-radius: var(--small-radius);
      transition: all 0.3s;

      &.active,
      &:hover {
        background-color: var(--red);
        color: white;

        /* reset */
        text-shadow: none;

        .icon-pokeball {
          filter: invert(1);
        }
      }
    }
  }
}
